app = 'taskmaster-elixir'
primary_region = 'iad'

[build]

[env]
  PHX_HOST = 'taskmaster-elixir.fly.dev'
  PORT = '4000'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
